<!--CHECK THIS https://stackoverflow.com/questions/52206588/align-mat-cards-content-image-text-and-buttons-->
<div class="container">
  <mat-toolbar color="secondary">Recipes</mat-toolbar>
  <mat-grid-list cols="2" gutterSize="4px" rowHeight="210px">
    <mat-grid-tile *ngFor="let recipe of recipes">
      <mat-card >
        <img mat-card-image class="image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="" >
        <mat-card-content><p>{{recipe.name}}</p></mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
